<div class="about-me">
  <ol class="about-me">
      <h1> About me </h1>
        <p>
        I'm a PhD student at <a href="https://epfl.ch" target="_blank">EPFL</a> in the <a href="https://hexhive.epfl.ch" target="_blank">Hexhive</a> group under supervision from <a rel="noreferrer" href="https://nebelwelt.net/" target="_blank">Prof. Mathias Payer</a>. I'm interested in all things fuzzing and system security.

        </p>
        <p>
        In the past, I had the chance to work as a software engineer at <a rel="noreferrer" href="https://compassion.ch" target="_blank">Compassion Suisse</a> and <a href="https://digger.ch" target="_blank">Fondation Digger</a> as part of my civil service. 
        </p>
        <p>
        During my education, I had the chance to spend a year abroad in Pittsburgh and discover the United States. I also spent 4 years studying in the German part of Switzerland where I experienced a new culture and learned a <a rel="noreferrer" href="http://www.eldrid.ch/swgerman.htm" target="_blank">funny language</a>. 
        </p> 
      <h2> Hobbies </h2>
        <p>
        I grew up in the beautiful 
        <a rel="noreferrer" href="https://www.myvalleedejoux.ch" target="_blank">Vallée de Joux</a>
        where I had the chance to experiment with the joy of the outdoors, learning to ski, sleep on frozen lakes, and make <em>true</em> wood fires.
        </p>
        <p>
        The main goal of my winters is building an 
        <picture>
          <source type="image/webp" srcset="images/igloo.webp">
          <a href="images/igloo.jpg">igloo</a>
        </picture>
        while I spend the summer looking for interesting location for a
        <picture>
          <source type="image/webp" srcset="images/cave.webp">
          <a href="images/cave.jpg">Swiss</a>
        </picture>
        <picture>
          <source type="image/webp" srcset="images/frozen_lake.webp">
          <a href="images/frozen_lake.jpg">fondue</a>
        </picture>
        . As all <em>real</em> swiss citizen, I eat way too much chocolate and try to compensate by conquering mountains tops.
        </p>
        <p>
        As a follower of Jesus-Christ, I love to talk about the interaction between faith, science, and our own life be it at the <a rel="noreferrer" href="https://gbeu.ch/" target="_blank">Groupes Bibliques Universitaires</a>, in my local <a rel="noopener" href="https://interjeunes.net" target="_blank">youth group</a>, or with other friends.
  </ol>
</div>
