<div class="about-me">
  <ol class="about-me">
      <h1> About me </h1>
        <p>
          I'm a swiss software engineer currently working at <a href="https://compassion.ch" target="_blank">Compassion Suisse</a> as part of my civil service. 
          I'll be looking for job opportunities starting April 2020 in the information security field. 
        </p>
        <p>
           A particular interest of mine is the fuzzing scene. I had the chance to collaborate with <a href="https://nebelwelt.net/" target="_blank">Prof. Mathias Payer</a> as part of my <a href="https://github.com/vwvw/master-thesis" target="_blank">Master thesis</a>. 
        </p>
        <p>
        During my education, I had the chance to spend a year abroad in Pittsburgh and discover the United States. I also spent 4 years studying in the German part of Switzerland where I experienced a new culture and learned a <a href="http://www.eldrid.ch/swgerman.htm" target="_blank">funny language</a>. 
        </p> 
      <h2> Hobbies </h2>
        <p>
        I grew up in the beautiful 
        <a href="https://www.myvalleedejoux.ch" target="_blank">Vallée de Joux</a>
        where I had the chance to experiment with the joy of the outdoors, learning to ski, sleep of frozen lakes, and make <em>true</em> wood fires.
        </p>
        <p>
        The main goal of my winters is building an 
        <picture>
          <source type="image/webp" srcset="images/igloo.webp">
          <a href="images/igloo.jpg">igloo</a>
        </picture>
        while I spend the summer looking for interesting location for a
        <picture>
          <source type="image/webp" srcset="images/cave.webp">
          <a href="images/cave.jpg">Swiss</a>
        </picture>
        <picture>
          <source type="image/webp" srcset="images/frozen_lake.webp">
          <a href="images/frozen_lake.jpg">fondue</a>
        </picture>
        . As all <em>real</em> swiss citizen, I eat way too much chocolate and try to compensate by conquering mountains tops.
        </p>
        <p>
        As a follower of Jesus-Christ, I love to talk about the interaction between faith, science, and our own life be it at the <a href="https://gbeu.ch/" target="_blank">Groupes Bibliques Universitaires</a>, in my local <a href="https://interjeunes.net" target="_blank">youth group</a>, or with other friends.
  </ol>
</div>
