<div class="about-me">

  <ol class="about-me">
      <h1> About me </h1>
      Swiss software engineer currently working at <a href="https://compassion.ch" target="_blank"> Comassion Suisse </a> as part of my civil service. 
      Looking forward to start continue my career from April 2020 on!

      <h2> Hobbies </h2>
      I grew up in the beautiful <a href="https://www.myvalleedejoux.ch" target="_blank">Vallée de Joux</a> where I had the chance to experiment with the joy of the outdoors. 
  </ol>

</div>
